SPRING_PROFILES_ACTIVE=postgres
POSTGRES_DB=indieestate
POSTGRES_USER=surajdas
POSTGRES_PASSWORD=surajdas
JWT_SECRET=change-me-in-prod-at-least-32-chars
JWT_ISSUER=indieestate-backend
JWT_ACCESS_TOKEN_TTL_SECONDS=7200
PORT=8080
